@font-face {
  font-family: 'dune-rise';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("/fonts/dune-rise/Dune_Rise.ttf");
}

:root {
  background-color: black;
  color: white;
}

body {
  margin: 0;
}
